<h1>Districts</h1>

<form>
    <div class="qo qw">
        <div class="qq">
          <h3 class="qr">Add District</h3>
        </div>
        <div class="nz akx">
          <button type="button" class="ce fh" data-toggle="dropdown" aria-expanded="true"><span class="cj"></span>Available Regions</button>
          <!--
            <ul class="dropdown-menu" role="menu">
              <li><a href="index.html#">Action</a></li>
              <li><a href="index.html#">Another action</a></li>
              <li><a href="index.html#">Something else here</a></li>
              <li class="ns"></li>
              <li><a href="index.html#">Separated link</a></li>
            </ul>
          -->
        </div>
        <div class="qp">
           <div class="el">
               <label for="districtName">District</label>
                <input type="name" class="form-control" ng-model="district" name="districtName" id="district-name"  placeholder="Enter District name" />
           </div>
           <button ng-click="add(district)" class="ce fn fh">Add</button>
        </div>
    </div>

</form>
