<h1>Metadata</h1>
<form>
<div class="qo qw">
      <div class="qq">
        <h3 class="qr">Add New Metadata</h3>
      </div>
      <div class="qp">
      <div class="fu">
      <div class="gr">
   
    <div class="el">
    <label for="categoryName" class="ga ex">Name</label>
    <div class="hg">
    <input type="name" class="form-control" ng-model="metadata" name="name" id="metadata-name"  placeholder="Enter name of metadata" />
    </div>
    </div>

      </div>
      <div class="gr"> 
           <button  ng-click="save(metadata)" class="ce fn fh">Save</button>
      </div>
      </div>
      </div>
        
</div>

<table class="cl cm" >
      <thead>
        <tr>
         <th>METADATA NAME</th>
         <th><span class="bv ack"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="datas in metadatas">
          <td>{{datas.name}}</td>
          <td>    
          <button class="ce fn fj" ng-click="edit(datas.id)">Edit</button>
          <button  ng-click="update(datas.id)" class="ce fn fh">Update</button>
          <button class="ce fn fl" ng-click="delete(datas.id)">Delete</button>
          </td>
        </tr>
      </tbody>
</table>



<h1>Metadata Category</h1>
<div class="qo qw">
      <div class="qq">
        <h3 class="qr">Add New Metadata Category</h3>
      </div>
      <div class="qp">
      <div class="fu">
        <div class="gi">
         <div class="el">
             <div class="bs">
             <label for="metadataID">Metadata ID</label>
               <select class="anz" id="metadataID" name="metadataID">
                  <option name="">Default</option>
                  <option name="">{{}}</option>
              </select>
              </div>
            </div>
            </div>
             <div class="gi">
              <div class="bs">
              <label for="categoryID">Category ID</label>
              <select class="anz" name="categoryID" id="categoryID">
                  <option name="">Default</option>
                  <option name="">{{}}</option>
              </select>
              </div>
             </div>
              <div class="gi">
               <button ng-click="saveMetadata" class="ce fn fh">Save</button>
              </div>
        </div>
      </div>
    </div>

<table class="cl cm" >
      <thead>
        <tr>
          <th>Metadata-Category Name</th>
        </tr>
      </thead>
      <tbody>
        <!--tr ng-repeat="dataCategory in metadata-category">
          <td>{{dataCategory.name}}</td-->
        </tr>
      </tbody>
</table>
</form>