<h1>Regions</h1>

<form autocomplete="on">
  <div class="qo qw">
      <div class="qq">
        <h3 class="qr">Add Region</h3>
      </div>
      <div class="qp">
         <div class="el">
             <label for="regionName">Region</label>
              <input type="name" class="form-control" ng-model="region" name="regionName" id="region-name"  placeholder="Enter Region name" />
        </div>
         <button ng-click="save(region)" class="ce fn fh">Save</button>
      </div>
    </div>
</form>
