   <h1 class="apc">Uploading</h1>

            <form method="post">

            <div class="qo qw">
                <div class="qq">
                    <!--<h3 class="qr">Panel title</h3>-->
                    <h3 class="qr">Select excel file to upload</h3>
                </div>
                <div class="qp">
                    <!--Panel content-->
                    <div class="el">
                        <label for="uploadedExcelFile">File input</label>
                        <input type="file" id="uploadedExcelFile">
                        <!--<p class="ew">Example block-level help text here.</p>-->
                    </div>
                    <!--<button type="button" name="action" value="save">Save</button>-->
                    <button ng-click="save(file)" class="ce fn fh">Save</button>
                </div>
            </div>

            </form>



            <div class="fu">
                <div class="gr">
                    <table class="cl" >
                        <thead>
                        <tr>
                            <th>UPLOADED FILES</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="files in uploads">
                            <td>{{file.name}}</td>
                            <td>
                                <button  ng-click="update(files.id)" class="ce fn fh">Update</button>
                                <button ng-click="destroy(files.id)" class="ce fn fl">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div class="gr">-->
                    <!--<table class="cl" >-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>File Names</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            </div>
